@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1{
  font-size: 3.2rem;
  margin-top: 1%;
}
h1 .type{
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 0.8s steps(6, end) forwards;
}
h1 .type2{
    font-size: 2.5rem; 
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 1.5s steps(27, end) forwards;
    animation-delay: 1s;
}
h1 .type3{
    font-size: 2.5rem; 
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 2.5s steps(43, end) forwards;
    animation-delay: 2.7s;
}
h1 .type4{
    font-size: 2.5rem; 
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 2.5s steps(42, end) forwards;
    animation-delay: 5.4s;
}
h1 .type5{
    font-size: 2.5rem; 
    overflow: hidden;
    white-space: nowrap; 
    width: 0;
    animation: 
      typing 0.1s steps(10, end) forwards;
    animation-delay: 7.9s;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.header {
/* padding-top: .5em;
padding-bottom: .5em; */
border: 1px solid #a2a2a2;
background-color: #f4f4f4;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  width: 100%;
  /* position: fixed; */
  /* transparent: transparent; */
}
  

  a{
    color: mediumseagreen;
  }
  .c1, .c2, .c3, .c4, .c5{
    max-width: 100%;
    font-family: monospace;
    color: rgb(255, 162, 0);
    display: inline-block;
  }

  /* .prop-text{font-size:1.0vw}
    @media (max-width : 768px) {
    .prop-text{font-size:2.0vw}
    } */
  /* decrease font size for mobile */
  @media only screen and (max-width: 600px) {
    .c1, .c2, .c3, .c4, .c5{
      font-size: 0.8em;
    }
  }

  /* @media (min-width: 1025px) {
    .c1, .c2, .c3, .c4, .c5{
      font-size: 0.8em;
    }
  } */

.typing-demo {
    width: 100%;
}


.intro {
    height: 300px;
    padding: 75px;
    background-image: url("./topBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    color: whitesmoke;
    font-size: 3rem;
    font-family: 'Lato', serif;
    text-shadow: #26292d 10px 10px 10px;
}

.info {
    color: whitesmoke;
    font-size: 2.5rem;
    font-family: 'Lato', serif;
    text-shadow: #26292d 0px 0px 10px;
}

.aboutMe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 10em;
}

.aboutMe > div > h1 {
    font-size: 2.5rem;
    font-family: 'Lato', serif;
}

.aboutMeContent {
    width: 800px;
    border-left: #26292d 2px solid;
    padding-left: 4em;
    padding-right: 1em;
    padding-bottom: 2em;
    font-size: 1.3rem;
    font-family: 'Lato', serif;
}

.profileImg {
        /* border: 1px solid #ddd; */
    border-radius: 180px;
    margin-right: 2rem;
    /* padding: 5px; */
    width: 180px;
}

.division {
    background: #222;
    color: #fff;
    padding: 2em 8em;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Lato', serif;
}

.skillHead {
    font-size: 2.5rem;
    /* text-decoration: underline; */
}

.skillType {
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.7rem;
    font-family: 'Lato', serif;
}

.skillImg {
    height: 60px;
    margin: 5px 10px;
    border: #a2a2a2 solid 1.5px;
    border-radius: 7px;
}

.projectSec {
    padding: 2em 4em ;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Lato', serif;
}

.projectHead {
    font-size: 2.5rem;
    padding-left: 4.5rem;
    /* text-decoration: underline; */
}

.projectDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 6em;
}

.projectContent {
    width: 3000px;
    font-size: 1.2rem;
    font-family: 'Lato', serif;
}

.projectContentLeft {
    border-left: #26292d 2px solid;
    padding-left: 1em;
    padding-right: 2em;
}

.projectContentRight {
    border-right: #26292d 2px solid;
    padding-right: 1em;
    padding-left: 2em;
}

.projectName {
    font-size: 1.5rem;
    font-family: 'Lato', serif;
}

.projectImg {
    height: 100px;
    margin: 5px 10px;
}

.portfolio-card{
    box-shadow: 0px 2px 5px #888888;
    width: 2000px;
    background: #eee;
    border-radius: 4px;
}
/* .portfolio-card:hover{
	box-shadow: 0px 10px 10px #888888;
  cursor: pointer
} */
.portfolio-container-holder{
	background: #eee;
	padding-bottom: 20px;
}
.portfolio-card-holder{
	padding: 5px;
	margin-bottom: 5px;
}

.portfolio-img{
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.portfolio-img-desc{
	position: relative;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgb(241, 238, 238);
	color: #000;
	text-align: center;
	/* padding: 1px; */
}

button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  /* 3 */
  .btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 span:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 span:hover:before {
    height: 100%;
  }
  .btn-3 span:hover:after {
    width: 100%;
  }
  
  footer {
    padding: 2em;
    text-align: center;
    font-size: 0.85rem;
    color: #fff;
    background: #222;
  }

  footer > a {
    size: 2rem;
    position: relative;
    color: #fff;
    text-decoration: none;
  }

  .footerSvgs {
    margin-left: 1rem;
    border-radius: 180px;
    width: 70px;
  }

.footerHeading {
    font-size: 2.5rem;;
    font-family: 'Lato', sans-serif;
}

.footerPara {
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
        /* position: relative; */
	}
	.header {
		flex-direction: column;
		align-items: center;
    }
}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}
