@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    margin: 0;
}

.aboutMeDiv {
    background-color: #26292d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    padding-top: 1.5em;
    color: #fff;
}

.aboutMeContent > h1 {
    color: #2effd2;
}

.aboutMe > div > h1 {
    font-size: 2.5rem;
    font-family: 'Lato', serif;
}

.aboutMeContent {
    width: 800px;
    border-left: #5c5c5c 2px solid;
    padding-left: 4em;
    padding-right: 1em;
    padding-bottom: 2em;
    font-size: 1.3rem;
    font-family: 'Lato', serif;
}

.profileImg {
    border-radius: 180px;
    margin-right: 2rem;
    margin-top: 1em;
    width: 180px;
}

/* Experience Start */

.experienceSec {
    background: #222;
    color: #fff;
    font-family: 'Lato', serif;
    padding-bottom: 1em;
}

.experienceHead {
    color: #2effd2;
    font-size: 2.5rem;
    padding-top: 1em;
    padding-left: 4em;
    margin: 0;
}

.experienceDiv {
    padding: 0.5em 10em;
    color: #fff;
    /* width: 3000px; */
    font-size: 1.2rem;
    font-family: 'Lato', serif;
}

.experienceName {
    font-size: 1.5rem;
    font-family: 'Lato', serif;
}

.experienceDate {
    color: rgb(240, 240, 240);
    font-size: 1.2rem;
    font-family: 'Lato', serif;
    font-weight: 300;
    margin: 0;
    padding-left: 3em;
}

/* Experience End */

/* Project Start */

.projectSec {
    background-color: #26292d;
    /* padding: 2em 8em ; */
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    font-family: 'Lato', serif;
    padding-bottom: 1.5em;
}

.projectHead {
    padding-top: 1em;
    padding-left: 4em;
    color: #2effd2;
    font-size: 2.5rem;
    margin: 0;
}

.projectDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6em;
    margin-left: 3em;
    margin-right: 3em;
}

.projectContent {
    padding-top: 2em;
    padding-bottom: 2em;
    color: #eee;
    width: 3000px;
    font-size: 1.2rem;
    font-family: 'Lato', serif;
}

.projectContentLeft {
    border-left: rgb(149, 149, 149) 1px solid;
    border-bottom: rgb(149, 149, 149) 1px solid;
    padding-left: 2em;
    padding-right: 2em;
}

.projectContentRight {
    border-right: rgb(149, 149, 149) 1px solid;
    border-bottom: rgb(149, 149, 149) 1px solid;
    padding-right: 2em;
    padding-left: 2em;
}

.projectName {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Lato', serif;
}

.projectImg {
    height: 100px;
    margin: 5px 10px;
}

/* Project End */

.projectCard{
    box-shadow: 0px 2px 5px #888888;
    width: 2000px;
    background: #eee;
    border-radius: 4px;
}

.project-img{
    width: 100%;
    border-radius: 4px 4px 0 0;
}

/* .portfolio-img-desc{
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgb(241, 238, 238);
    color: #000;
    text-align: center;
} */

button {
    margin: 20px;
    margin-top: 0;
}

/*Blue Button Start*/

.btn {
    width: 130px;
    height: 40px;
    color: #2effd2;;
    border-radius: 5px;
    padding: 0;
    font-family: 'Lato', serif;
    font-size: 1.15rem;
    font-weight: 500;
    background: #26292d; 
    /* background: linear-gradient(0deg, #2effd2 0%, #21ff94 100%); */
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /* box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), */
    /* 7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1); */
    outline: none;
    line-height: 42px;
    border: none;
}

.btn span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn:before,
.btn:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #2effd2;
    transition: all 0.3s ease;
}
.btn:before {
    height: 0%;
    width: 2px;
}
.btn:after {
    width: 0%;
    height: 2px;
}
.btn:hover{
    background: transparent;
    border: none;
    box-shadow: none;
}
.btn:hover:before {
    height: 100%;
}
.btn:hover:after {
    width: 100%;
}
.btn span:hover{
    color: #2effd2;
}
.btn span:before,
.btn span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #2effd2;
    transition: all 0.3s ease;
}
.btn span:before {
    width: 2px;
    height: 0%;
}
.btn span:after {
    width: 0%;
    height: 2px;
}
.btn span:hover:before {
    height: 100%;
}
.btn span:hover:after {
    width: 100%;
}
/*Blue Button End*/

/* Footer Start */
  
footer {
    padding: 1em;
    text-align: center;
    font-size: 0.85rem;
    color: #fff;
    background: #222;
}

.footerHeading {
    margin: 0;
    font-size: 2rem;
    font-family: 'Lato', serif;
}

.footerPara {
    font-size: 1.2rem;
    font-family: 'Lato', serif;
}

.footerSvgs {
    margin-left: 1rem;
    border-radius: 180px;
    width: 50px;
}

/* Footer End */

@media (min-width: 769px) {
    .header,
    .main-nav {
        display: flex;
        /* position: relative; */
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1025px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}
